<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.huayu.handler"/>

    <!--定义视图解析,将后端控制返回字符串解析成对应的视图 success =/WEB-INF/jsp/success.jsp-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/cmp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="viewResolverParts" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/cmp/static/pages/partssys/parts/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:default-servlet-handler />
    <mvc:annotation-driven/>
    <mvc:resources mapping="/css/**" location="WEB-INF/cmp/css/"/>
    <mvc:resources mapping="/js/**" location="WEB-INF/cmp/js/"/>
    <mvc:resources mapping="/images/**" location="WEB-INF/cmp/images/"/>
    <mvc:resources mapping="/**" location="WEB-INF/cmp/static/"/>

    <mvc:view-controller path="/" view-name="login"/>
<!--    <mvc:resources mapping="/cmp/pages/ordersys/order/**" location="/WEB-INF/cmp/pages/ordersys/order/"></mvc:resources>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSizePerFile" value="1024000"></property>
        <property name="maxUploadSize" value="1024000000"></property>
    </bean>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="images/**"/>
<!--            <mvc:exclude-mapping path="/js/**"/>-->
<!--            <mvc:exclude-mapping path="/images/**"/>-->
<!--            <mvc:exclude-mapping path="/css/**"/>-->
<!--            <mvc:exclude-mapping path="/frame/**"/>-->
            <bean id="myInterceptor" class="com.huayu.handler.MyInterceptor">
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
    <!-- 设置Converter转换器 -->
    <bean id="conversionServiceFactoryBean"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 设置多个转换器 -->
        <property name="converters">
            <list>
                <!--自定义的日期转换器-->
                <bean class="com.huayu.resolver.StringToDateConverter">
                </bean>
            </list>
        </property>
    </bean>

    <!--异常处理-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 定义默认的异常处理页面 -->
        <property name="defaultErrorView" value="error"/>
        <!-- 定义异常处理页面用来获取异常信息的变量名，也可不定义，默认名为exception -->
        <property name="exceptionAttribute" value="ex"/>
        <!-- 定义需要特殊处理的异常，这是重要点 -->
        <property name="exceptionMappings">
            <props> <!--异常类型 错误视图-->
                <prop key="java.lang.RuntimeException">error</prop>
            </props>
<!--             还可以定义其他的自定义异常 -->
        </property>
    </bean>

</beans>